@model IEnumerable<CommerceBankProject.Models.Notification>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Notification Center</h1>
</div>

<p class="d-inline-block mr-md-5 link-container">
    <a asp-action="Generate">Generate Notifications</a>
</p>

<p class="d-inline-block mr-md-5 link-container">
    <a asp-action="Settings">Notification Settings</a>
</p>

<p class="d-inline-block link-container">
    <a asp-action="DeleteAll">Delete All</a>
</p>
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.onDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
