@model CommerceBankProject.Models.TIndexViewModel

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>View Transactions</h2>
</div>
<button type="button" class="btn btn-primary inactive" id="filterBtn" onclick="toggleFilter()">Filter</button>
<form asp-action="FilterIndex" id="filterForm" class="closed">
    <label for="actFilter">Select Account</label>
    <select name="actFilter">
        <option value="all">All</option>
        @foreach (var account in Model.actList)
        {
            if (account.actID == Model.account)
            {
                <option selected value=@account.actID>@account.actType @account.actID</option>
            }
            else
            {
                <option value=@account.actID>@account.actType @account.actID</option>
            }

        }
    </select>
    <label for="descFilter">Search</label>
    <input type="text" name="descFilter" value=@Model.descSearch>
    <br />
    <label for="fromDate">From:</label>
    <input type="date" name="fromDate" id="fromDate" value=@string.Format("{0:yyyy-MM-dd}", Model.fromDate) max=@string.Format("{0:yyyy-MM-dd}", Model.toDate) onchange="changeMinTo(this)" />
    <label for="toDate">To:</label>
    <input type="date" name="toDate" id="toDate" value=@string.Format("{0:yyyy-MM-dd}", Model.toDate) min=@string.Format("{0:yyyy-MM-dd}", Model.fromDate) onchange="changeMaxFrom(this)" />
    <input type="submit" value="Go" id="filterSubmit" class="btn btn-primary" />
    <input type ="hidden" name="pageNumber" value= "1" id="pageNumber"/>
</form>

<div class="row justify-content-center">
    <form asp-action="FilterIndex" id="pageChanged">
        <input type="hidden" name="actFilter" value=@Model.account />
        <input type="hidden" name="descFilter" value=@Model.descSearch>
        <input type="hidden" name="fromDate" value=@string.Format("{0:yyyy-MM-dd}", Model.fromDate) />
        <input type="hidden" name="toDate" value=@string.Format("{0:yyyy-MM-dd}", Model.toDate) />
        @if (Model.pageNumber == 1)
        {
            <button type="button" class="btn btn-primary" id="decrementPageButton" onclick="decrementPage()" disabled>Back</button>
        }
        else
        {
            <button type="button" class="btn btn-primary" id="decrementPageButton" onclick="decrementPage()">Back</button>
        }
        <label for="pageNumber">Page</label>
        <input type="number" min=1 max=@((Model.tList.Count() +1)/Model.pageSize) name="pageNumber" id="changePageNumber" value=@Model.pageNumber readonly />

        @if (Model.pageNumber == (Model.tList.Count() + 1) / Model.pageSize)
        {
            <button type="button" class="btn btn-primary" id="incrementPageButton" onclick="incrementPage()" disabled>Next</button>
        }
        else
        {
            <button type="button" class="btn btn-primary" id="incrementPageButton" onclick="incrementPage()">Next</button>
        }
    </form>
</div><br />

<table class="table">
    <thead>
        <tr>
            <th>
                Account
            </th>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = (Model.pageNumber - 1) * Model.pageSize; i < (Model.pageNumber) * Model.pageSize && i < Model.tList.Count(); i++)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.tList[i].actType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.tList[i].onDate)
            </td>
            @if (Model.tList[i].transType == "DR")
            {
                <td class="trans-dr">
                    -$@Html.DisplayFor(modelItem => Model.tList[i].amount)
                </td>
            }
            else
            {
                <td class="trans-cr">
                    +$@Html.DisplayFor(modelItem => Model.tList[i].amount)
                </td>
            }
            @if (Model.tList[i].description.Length > 25)
            {
                <td>
                    @Model.tList[i].description.Substring(0, 25)
                </td>
            }
            else
            {
                <td>
                    @Model.tList[i].description
                </td>
            }
            <td>
                <a asp-action="Details" asp-route-id="@Model.tList[i].ID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@if (Model.tList.Count == 0) {
    <p>No transactions were found.</p>
}
<script>
    function toggleFilter() {
        var filterButton = document.getElementById("filterBtn");
        filterButton.classList.toggle("active");
        filterButton.classList.toggle("inactive");
        var filterInputs = document.getElementById("filterForm");
        filterInputs.classList.toggle("closed");
        filterInputs.classList.toggle("open");
    }

    function changeMinTo(date) {
        var min = date.value;
        document.getElementById("toDate").min = min;
    }

    function changeMaxFrom(date) {
        var max = date.value;
        document.getElementById("fromDate").max = max;
    }

    function decrementPage() {
        document.getElementById("changePageNumber").value = parseInt(document.getElementById("changePageNumber").value) - 1;
        document.getElementById("pageChanged").submit()
    }

    function incrementPage() {
        document.getElementById("changePageNumber").value = parseInt(document.getElementById("changePageNumber").value) + 1;
        document.getElementById("pageChanged").submit()
    }
</script>
