@model CommerceBankProject.Models.TIndexViewModel

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>View Transactions</h2>
</div>
<button type="button" class="btn btn-primary inactive" id="filterBtn" onclick="toggleFilter()">Filter</button>
<form asp-action="FilterIndex" id="filterForm" class="closed">
    <label for="actFilter">Select Account</label>
    <select name="actFilter">
        <option value="all">All</option>
        @foreach (var account in Model.actList)
        {
            <option value=@account.actID>@account.actType @account.actID</option>
        }
    </select>
    <label for="descFilter">Search</label>
    <input type="text" name="descFilter" value=@Model.descSearch>
    <br />
    <label for="fromDate">From:</label>
    <input type="date" name="fromDate" id="fromDate" value=@string.Format("{0:yyyy-MM-dd}", Model.fromDate) max=@string.Format("{0:yyyy-MM-dd}", Model.toDate) onchange="changeMinTo(this)" />
    <label for="toDate">To:</label>
    <input type="date" name="toDate" id="toDate" value=@string.Format("{0:yyyy-MM-dd}", Model.toDate) min=@string.Format("{0:yyyy-MM-dd}", Model.fromDate) onchange="changeMaxFrom(this)"/>
    <input type="submit" value="Go" id="filterSubmit" class="btn btn-primary" />

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Account
            </th>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.tList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.actType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.onDate)
            </td>
            @if (item.transType == "DR")
            {
                <td class="trans-dr">
                    -$@Html.DisplayFor(modelItem => item.amount)
                </td>
            }
            else
            {
                <td class="trans-cr">
                    +$@Html.DisplayFor(modelItem => item.amount)
                </td>
            }
            @if (item.description.Length > 25)
            {
                <td>
                    @item.description.Substring(0, 25)
                </td>
            }
            else
            {
                <td>
                    @item.description
                </td>
            }
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@if (Model.tList.Count == 0) {
    <p>No transactions were found.</p>
}
<script>
    function toggleFilter() {
        var filterButton = document.getElementById("filterBtn");
        filterButton.classList.toggle("active");
        filterButton.classList.toggle("inactive");
        var filterInputs = document.getElementById("filterForm");
        filterInputs.classList.toggle("closed");
        filterInputs.classList.toggle("open");
    }

    function changeMinTo(date) {
        var min = date.value;
        document.getElementById("toDate").min = min;
    }

    function changeMaxFrom(date) {
        var max = date.value;
        document.getElementById("fromDate").max = max;
    }
</script>
